.header-color{
  background: #60a6bb;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #54666d, #60a6bb);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #54666d, #60a6bb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}
.landing-grid{
  background: #60a6bb;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b8cbd3, #60a6bb);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b8cbd3, #60a6bb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  text-align: center;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.projects-grid{
  display:flex;
  /* flex-direction: 'row'; */
  
}

.project-body{
  width:100%;
  height:100%;
  background-color:#b8cbd3;
}

.avatar-img{
  height: 230px;
  padding-top: 2.5cm;;
  padding-bottom: 0.5cm;
  margin-left: 1cm;
}

.banner-text{
  background-color:#556e75;
  opacity: .9;
  width: 90%;
  margin-left: 1.5cm;
  border-radius:10px;
  margin-top:3.5cm
}

.banner-text h1{
  font-size: 50px;
  font-weight: bold;
  color:black;
  margin-left: 2cm;
}

.banner-text hr{
  border-top:5px dotted black;
  width: 30%;
  margin-left: 12cm;
}
.banner-text p{
  color:black;
  font-size: 20px;
  padding: 1em;
  margin-left: 2cm;
}

.social-links{
  display: flex;
  justify-content:space-evenly;
  width: 50;
  padding-bottom: 1em;
}

.social-links i{
  color:black;
  font-size: 3em;  
}

/*resume page*/
.resume-right-col {
  color : black;
  background-color: #556e75;
}

/*About me*/
.about-me-body{
  margin: auto;
width: 100%;
height: 100%;
position: fixed;
justify-content: center;
padding-top: 2em;
background-color:#b8cbd3;
}
.about-me-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 500px;
  background: white;
  color:black;
  margin-bottom: 30px;
  background-color:#556e75;
}

.about-me-grid h2 {
  font-family: 'Anton', sans-serif;
}
.about-me-grid hr{
  border-top: 5px dotted black;
  width:50%;
  margin:auto;
}

/*contact page*/

.contact-body{
margin: auto;
width: 100%;
height: 100%;
position: fixed;
justify-content: center;
padding-top: 2em;
background-color:#b8cbd3;
}

.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 500px;
  background: white;
  color:black;
  margin-bottom: 30px;
  background-color:#556e75;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p{
 
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr{
  border-top: 5px dotted black;
  width:50%;
  margin:auto;
}

.contact-list i{
  font-size: 55px;
  padding-right: rem;
  
}